/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
  background-color: #ffffff !important;
  color: #222222 !important;
}

/* || typography */

h1,
h2,
h3 {
  font-family: "Sonsie One", cursive;
  color: #2a2a2a;
}

p,
input,
li,
table,
label,
button,
td,
th,
caption {
  font-family: "Open Sans Condensed", sans-serif;
  color: #222222 !important;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white !important;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p,
li,
table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

.header {
  background-color: #2f6f3e !important;
  padding: 20px;
  margin-bottom: 10px;
}

nav {
  height: 50px;
  background-color: #b30086 !important;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white !important;
}

nav a:hover {
  text-decoration: underline;
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search label {
  position: absolute;
  left: -9999px;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
  background-color: #ffffff !important;
  color: #222222 !important;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333 !important;
  border: 0;
  color: white !important;
}

/* || main layout */

main {
  display: flex;
  background-color: #ffffff !important;
}

article {
  flex: 5;
  margin-right: 10px;
  padding: 10px 30px;
  background-color: #ffffff !important;
  color: #222222 !important;
}

.secondary {
  flex: 2;
  background-color: #2f6f3e !important;
  color: white !important;
  padding: 10px 30px;
}

.secondary h2,
.secondary li,
.secondary p {
  color: white !important;
}

.secondary a {
  color: white !important;
  text-decoration: none;
}

.secondary a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 10px;
  background-color: #2f6f3e !important;
  color: white !important;
  padding: 10px 30px;
}

footer p {
  color: white !important;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde !important;
  border-collapse: collapse;
  color: #222222 !important;
}

caption {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  color: #222222 !important;
}

th,
td {
  padding: 10px;
  text-align: center;
  color: #222222 !important;
}

th[scope="col"] {
  border-bottom: 2px solid black;
}

th[scope="row"] {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #def !important;
}

/* styling content images and audio */

img,
audio {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def !important;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
  text-align: center;
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 0.4rem 0.8rem;
  background: #333 !important;
  border: 0;
  color: white !important;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
  color: #222222 !important;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
  background-color: #ffffff !important;
  color: #222222 !important;
}

.comment-form input,
.comment-form label,
.show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
  background: #333 !important;
  border: 0;
  color: white !important;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}